<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>
    <ion-icon class="auth-icon" name="person-add" color="primary"></ion-icon>
  </h1>

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-input type="password" placeholder="E-mail"></ion-input>
    </ion-item>
    <button ion-button full type="submit">Create Account</button>
  </form>
</ion-content>