<ion-header>
  <ion-toolbar>
    <ion-title>Meu Menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Olá {{nome}}!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Usuário : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>
<div #map class="map"></div>
<ion-button expand="block" (click)="initMap()">
  <ion-icon name="locate" slot="start"></ion-icon>
  Estou aqui!
</ion-button>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Sair</ion-title>
  </ion-toolbar>
</ion-footer>